sphinx
sphinx-rtd-theme
pydata-sphinx-theme
sphinx-autodoc-typehints
nbsphinx
ipython
jupytext
jupyter
matplotlib
numpy
pandas
QuantLib
joblib
mysql-connector
copula
copulae
scipy
importlib
matplotlib
redmail
python-docx
python-pptx
imapclient
openpyxl
easygui
plotly
